<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.DiscussionMapper">

    <insert id="insert" parameterType="com.example.entity.Discussion">
        INSERT INTO discussion(movie_id, user_id, title, content, time)
        VALUES (#{movieId}, #{userId}, #{title}, #{content}, #{time})
    </insert>

    <update id="updateById" parameterType="com.example.entity.Discussion">
        UPDATE discussion
        SET movie_id = #{movieId},
            user_id  = #{userId},
            title    = #{title},
            content  = #{content},
            time     = #{time}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM discussion WHERE id = #{id}
    </delete>

    <select id="selectAll" resultType="com.example.entity.Discussion">
        SELECT d.*, m.name AS movieName, u.name AS userName
        FROM discussion d
        LEFT JOIN movie m ON d.movie_id = m.id
        LEFT JOIN user u  ON d.user_id = u.id
        <where>
            <if test="movieName != null">
                AND m.name LIKE concat('%', #{movieName}, '%')
            </if>
            <if test="userId != null">
                AND d.user_id = #{userId}
            </if>
            <if test="movieId != null">
                AND d.movie_id = #{movieId}
            </if>
            <if test="title != null">
                AND d.title LIKE concat('%', #{title}, '%')
            </if>
        </where>
        ORDER BY d.id DESC
    </select>
</mapper>
